<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    notification
    <button id='notif' value='notification :'></button>
    <script>
            document.querySelector('#notif').innerHTML = 0
            var roomName = 'notification';
            var message = []
            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/notif/' + roomName + '/');
    
            chatSocket.onmessage = function(e) {
                console.log('on message received executing onmessage function')
                var data = JSON.parse(e.data);
                console.log(data)
                if (data['refresh']){
                    document.querySelector('#notif').innerHTML = parseInt(0)
                }
                else{
                    message.push(data['message']);
                    var is_read = data['is_read'];
                    console.log(data)
                    let val = document.querySelector('#notif').innerHTML 
                    document.querySelector('#notif').innerHTML = parseInt(val) + 1
                }

            };
    
            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
    
            document.querySelector('#notif').onclick = function(e) {
                document.querySelector('#notif').value = 0
                message.forEach((v,k)=>{
                    chatSocket.send(JSON.stringify({
                        'message': v,
                        'mode':'switch'
                    }));
                })
                
            };
    </script>
</body>
</html>